<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form th:action="@{/regis}" method="post">>
    用户名：<input type="text" placeholder="请输入账号" name = "id"><br>
    密码：  <input type="text" placeholder="请输入密码" name = "password"><br>
    <input type="submit" value = "注册">
</form>
</body>
</html>

<!--
 <table>
        <tr>
        <td><label>用户名</label></td>
        <td><input type="text" placeholder="请输入账号"></td>
        </tr>

        <tr>
            <td><label>密码</label></td>
            <td><input type="text" placeholder="请输入密码"></td>
        </tr>

        <tr>
            <td><input type="submit" value = "注册"></td>
        </tr>
    </table>
-->