<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学生管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/assets/images/favicon.png}" type="image/png" >
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" >
    <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" >



    <style  type="text/css">
        .kk{
            position:relative;
            left:1035px;
        }
        .qw{
            position:relative;
            left:1050px;
            top:-30px;
        }
    </style>

</head>





<body class="sticky-header">



<!--Start left side Menu-->
<div class="left-side sticky-left-side">

    <!--logo-->
    <div class="logo">
        <h2><font color="#faebd7" >宿舍管理系统</font></h2>
    </div>


    <!--logo-->

    <div class="left-side-inner">
        <!--Sidebar nav-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list"><a th:href="@{/allStu}"><i class="icon-home"></i> <span>管理</span></a>
                <ul class="sub-menu-list">
                    <li class="active"><a th:href="@{/allStu}"> 学生管理</a></li>
                    <li><a th:href="@{/allDor}">宿舍管理</a></li>
                </ul>
            </li>



        </ul>
        <!--End sidebar nav-->

    </div>
</div>
<!--End left side menu-->



<!-- main content start-->
<div class="main-content" >


    <!--body wrapper start-->
    <div class="wrapper">
        <div class = "qw">
            <button>  <a th:href="@{/}">退出</a></button>
        </div>
        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">学生详情</h4>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/function}" >管理</a>
                </li>

                <li class="active">
                    学生管理
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->



        <!-- Start row-->
        <div class="row">




            <div class="col-md-12">

                <div class="white-box">
                    <div class="kk">
                        <form th:action="@{/allStu}" >
                            <input type = "submit" value="返回">

                        </form>
                    </div>
                    <div class="table-wrap">
                        <table class="table table-striped" id = "dataTable">





                                <tr th:each="employee : ${em}">
                                    <td>学号</td>
                                    <td th:text="${employee.id}"></td>
                                </tr>


                                <tr th:each="employee : ${em}">
                                    <td>姓名</td>
                                    <td th:text="${employee.name}"></td>
                                </tr>

                                <tr th:each="employee : ${em}">
                                    <td>性别</td>
                                    <td th:text="${employee.sex}"></td>
                                </tr>


                                <tr th:each="employee : ${em}">
                                    <td>学院</td>
                                    <td th:text="${employee.college}"></td>
                                </tr>

                            <tr th:each="employee : ${em}">
                                <td>宿舍楼</td>
                                <td th:text="${employee.lou}"></td>
                            </tr>

                                <tr th:each="employee : ${em}">
                                    <td>宿舍号</td>
                                    <td th:text="${employee.dor}"></td>
                                    <td><a th:href="@{'/dor/' + ${employee.dor}}">查看详情</a></td>
                                </tr>

                                <tr th:each="employee : ${em}">
                                    <td>联系方式</td>
                                    <td th:text="${employee.phone}"></td>
                                </tr>

                            <tr th:each="employee : ${em}">
                                <td>晚归次数</td>
                                <td th:text="${employee.late}"></td>
                            </tr>


                                <tr th:each="employee : ${em}">
                                    <td>操作</td>
                                    <td><a class="deleteA" @click = "deleteEmployee"
                                           th:href="@{'/allStu/' +${employee.id}}">删除</a></td>
                                </tr>

                                <tr th:each="employee : ${em}">
                                    <td><a th:href="@{'/modStu/' + ${employee.id}}">修改</a></td>
                                </tr>


                            </table>







                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End row-->


    <form id="delete_form" method="post">
        <!-- HiddenHttpMethodFilter要求：必须传输_method请求参数，并且值为最终的请求方式 -->
        <input type="hidden" name="_method" value="delete"/>
    </form>

    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
    <script type="text/javascript">
        var vue = new Vue({
            el:"#dataTable",
            methods:{
                //event表示当前事件
                deleteEmployee:function (event) {
                    //通过id获取表单标签
                    var delete_form = document.getElementById("delete_form");
                    //将触发事件的超链接的href属性为表单的action属性赋值
                    delete_form.action = event.target.href;
                    //提交表单
                    delete_form.submit();
                    //阻止超链接的默认跳转行为
                    event.preventDefault();
                }
            }
        });
    </script>

</div>
<!-- End Wrapper-->


<!--Start  Footer -->
<footer class="footer-main"></footer>
<!--End footer -->

</div>
<!--End main content -->



<!--Begin core plugin -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/plugins/moment/moment.js}"></script>
<script  th:src="@{/assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{/assets/js/functions.js}"></script>
<!-- End core plugin -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript" th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/moment/moment.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/full-calendar/fullcalendar.js}"></script>
<script type="text/javascript" th:src="@{/assets/pages/calendar-custom.js}"></script>
<!-- END PAGE LEVEL SCRIPTS -->






</body>
</html>














