.container {
    width: 1350px;
}

.container > .jumbotron {
    padding: 12px 30px 12px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 68px;
}

.table tbody tr td {
    vertical-align: middle;
}