<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatic.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it985.dormitory.mapper.LateMapper">

    <select id="findByPage" resultType="com.it985.dormitory.entity.Late">
        select *
        from tab_late
        where did in (select did from tab_dorm
        where dbid in (select dbid from tab_dorm_building
        where 1=1
        <if test="dormBuildingName != null and dormBuildingName != ''">
            and dbname=#{dormBuildingName}
        </if>
        )
        <if test="dormName != null and dormName != ''">
            and dname=#{dormName}
        </if>
        )
        <if test="searchContent != null and searchContent != ''">
            and lname like concat('%', #{searchContent}, '%')
        </if>
        limit #{start},#{size}
    </select>
    <select id="findTotalCount" resultType="java.lang.Integer">
        select count(*)
        from tab_late
        where did in (select did from tab_dorm
        where dbid in (select dbid from tab_dorm_building
        where 1=1
        <if test="dormBuildingName != null and dormBuildingName != ''">
            and dbname=#{dormBuildingName}
        </if>
        )
        <if test="dormName != null and dormName != ''">
            and dname=#{dormName}
        </if>
        )
        <if test="searchContent != null and searchContent != ''">
            and lname like concat('%', #{searchContent}, '%')
        </if>
    </select>
    <select id="findByStuNumber" resultType="com.it985.dormitory.entity.Student">
        SELECT *
        FROM tab_student
        where stu_number = #{stuNumber};
    </select>
</mapper>