<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatic.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it985.dormitory.mapper.ManagerMapper">

    <!--<select id="findByUsernameAndPassword" resultType="com.it985.dormitory.entity.Manager">
        select * from tab_manager where username=#{username} and password=#{password}
    </select>-->

    <select id="findByPage" resultType="com.it985.dormitory.entity.Manager">
        select *
        from tab_manager
        where dbid in (select dbid from tab_dorm_building
        where 1=1
        <if test="dormBuildingName != null and dormBuildingName != ''">
            and dbname=#{dormBuildingName}
        </if>
        )
        <if test="searchContent != null and searchContent != ''">
            and ((name like concat('%', #{searchContent}, '%'))
            or (username like concat('%', #{searchContent}, '%')))
        </if>
        limit #{start},#{size}
    </select>

    <select id="findTotalCount" resultType="java.lang.Integer">
        select count(*)
        from tab_manager
        where dbid in (select dbid from tab_dorm_building
        where 1=1
        <if test="dormBuildingName != null and dormBuildingName != ''">
            and dbname=#{dormBuildingName}
        </if>
        )
        <if test="searchContent != null and searchContent != ''">
            and ((name like concat('%', #{searchContent}, '%'))
            or (username like concat('%', #{searchContent}, '%')))
        </if>
    </select>
</mapper>