<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div role="tabpanel" class="tab-pane fade in active" id="AllStudents">
    <br/>
    <div class="row">
        <!-- Single button -->
        <div class="col-lg-3">
            <div class="btn-group">
                <button type="button" id="as-db" class="btn btn-default dropdown-toggle btn-success"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    全部宿舍楼 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pre-scrollable" id="as-db-menu">
                    <li id="as-db-num1" onclick='javascript:select("as-db-num1","as-db")'>
                        <a href="javascript:void(0)">全部宿舍楼</a>
                    </li>
                    <li id="as-db-num2" onclick='javascript:select("as-db-num2","as-db")'>
                        <a href="javascript:void(0)">栎苑-1号楼</a>
                    </li>
                    <li id="as-db-num3" onclick='javascript:select("as-db-num3","as-db")'>
                        <a href="javascript:void(0)">栎苑-4号楼</a>
                    </li>
                    <li id="as-db-num4" onclick='javascript:select("as-db-num4","as-db")'>
                        <a href="javascript:void(0)">桔苑-1号楼</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" id="as-d" class="btn btn-default dropdown-toggle btn-info"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    全部寝室号 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pre-scrollable" id="as-d-menu">
                    <li id="as-d-num1" onclick='javascript:select("as-d-num1","as-d")'>
                        <a href="javascript:void(0)">全部寝室号</a>
                    </li>
                    <li id="as-d-num2" onclick='javascript:select("as-d-num2","as-d")'>
                        <a href="javascript:void(0)">206号</a>
                    </li>
                    <li id="as-d-num3" onclick='javascript:select("as-d-num3","as-d")'>
                        <a href="javascript:void(0)">207号</a>
                    </li>
                    <li id="as-d-num4" onclick='javascript:select("as-d-num4","as-d")'>
                        <a href="javascript:void(0)">208号</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="as-search">
                <span class="input-group-btn">
					<button class="btn btn-default" type="button" id="as-search-button"
                            onclick="javascript:as_load_search()">Go!</button>
				</span>
            </div>
        </div>
        <div class="col-lg-5">
            <div style="float:right">
                <button type="button" data-toggle="modal" data-target="#as-insert" class="btn btn-primary">
                    添加新学生信息 <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>

    <br/>
    <div class="panel panel-default">

        <div class="panel-heading">Information details</div>

        <table class="table" id="as-table">
            <tr>
                <th>宿舍楼名</th>
                <th>房间数量</th>
                <th>学生总数</th>
                <th>寝室名</th>
                <th>居住人数</th>
                <th>剩余电费</th>
                <th>剩余水费</th>
                <th>学生姓名</th>
                <th>学生学号</th>
                <th>学生性别</th>
                <th>学生电话号码</th>
                <th>学生所在班级</th>
                <th>学生辅导员姓名</th>
                <th>学生辅导员电话号码</th>
                <th>#</th>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
            <tr>
                <td>栎苑-4号楼</td>
                <td>100</td>
                <td>400</td>
                <td>206号</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>张颢</td>
                <td>19130300</td>
                <td>男</td>
                <td>15527712987</td>
                <td>软件1941</td>
                <td>吴倩倩</td>
                <td>13588888888</td>
                <td>
                    <button type="button" class="btn btn-primary btn-success">修改</button>
                    <button type="button" class="btn btn-primary btn-danger">删除</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div style="float: right">
            <div>
                当前第 <span id="as-current">1</span> 页 总计 <span id="as-pages">0</span> 页 共 <span id="as-total">0</span>
                条数据
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination" id="as-pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <form class="form-horizontal" role="form" id="as-insert-form" style="margin: 20px;">
        <div class="modal fade" id="as-insert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            新学生信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">宿舍楼名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="as-content-dbname" name="dbname" placeholder="请输入宿舍楼名...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">寝室名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="as-content-dname" name="dname" placeholder="请输入寝室名...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="sname" placeholder="请输入姓名...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">学号</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="stuNumber" placeholder="请输入学号...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">性别</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="gender" placeholder="请输入性别...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">电话号码</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="telephone" placeholder="请输入电话号码...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所在班级</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="grade" placeholder="请输入所在班级...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">辅导员姓名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="teacherName" placeholder="请输入辅导员姓名...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">辅导员电话号码</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="teacherTelephone" placeholder="请输入辅导员电话号码...">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="as-insert-submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="as-other-modal"></div>
</div>
</body>
</html>